.baseBallCard {
  border: 3px white solid;
  width: 460px;
  /*height: 600px;*/
  padding: 2rem;
  border-radius: 5px;
  margin: 100px auto;
}

/*border: 1px white solid;*/
.name {
  width: 95%;
  /*height: 2rem;*/
  margin: 10px;
  padding: 3px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.topic {
  /*border: 1px white solid;*/
  width: 95%;
  /*height: 2rem;*/
  margin: 10px;
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.nextContact {
  text-align: center;
  font-size: 6.2rem;
}
#ctx{
  height: 10rem;
  width: 10rem;
  margin: 20px;
  z-index: -100;
  position: relative;
}
.circle {
  border: 2px white solid;
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  background-color: rgb(204, 51, 0);
  display: block;
  z-index: 9999;
  top: 50%;
  transform: translate(70%, -200%);
}

.righthalf {
  width: 50%;
  /*float: right;*/
  /*border: 1px white solid;*/
  /*margin-left: 50%;*/
  height: 100%;
  display: flex;
  padding: .25rem;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .17);;
}

.lefthalf {
  float: left;
  /*border: 1px white solid;*/
  width: 48%;
  height: 100%;
}

.detailsButton {
  clear: both;
  text-align: center;
  margin:10px auto;
  padding: 5px;
}

.smallflex {
  clear: both;
  display: flex;
  align-items: center;
  position: relative;
}

.editButton {
  width: 45%;
  flex-grow: 1;
  /*float: left;*/
  /*height: 100%;*/
}

.removeButton {
  width: 45%;
  flex-grow: 1;
  float: right;
}

#completeBtn {
  /*height: 64px;
  font-size: 3.1rem;
  font-weight: bolder;*/
}

.email {
  white-space: normal;
  word-wrap: break-word;
}

#postponeAmt {
  text-align: center;
}

.doneButton, .postponeButton {
  display: block;
}
