.baseBallCard {
  border: 1px white solid;
  width: 460px;
  height: 600px;
  padding: 2rem;
}

.name {
  border: 1px white solid;
  width: 95%;
  height: 2rem;
  margin: 10px;
  padding: 3px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.topic {
  border: 1px white solid;
  width: 95%;
  height: 2rem;
  margin: 10px;
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  letter-spacing: .6px;
}

.nextContact {
  border: 1px white solid;
  text-align: center;
  margin: 4.2rem auto;
}

.circle {
  border: 2px white solid;
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  margin: 20px;
}

.righthalf {
  width: 50%;
  /*float: right;*/
  border: 1px white solid;
  /*margin-left: 50%;*/
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.lefthalf {
  float: left;
  border: 1px white solid;
  width: 48%;
  height: 100%;
}

.detailsButton {
  clear: both;
  text-align: center;
  margin:10px auto;
  padding: 5px;
}

.smallflex {
  clear: both;
  display: flex;
  align-items: center;
  position: relative;
}

.editButton {
  width: 45%;
  display: inline-block;
  flex-grow: 1;
  /*float: left;*/
  /*height: 100%;*/
}

.removeButton {
  width: 45%;
  flex-grow: 1;
  float: right;
  /*height: 100%;*/
  display: inline-block;
}
.email, .phone{
  display: block;

}
