.dateDiv{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: lighter;
}

/* Animations */

.fadein {
  animation: 1s fadein-anim;
  -webkit-animation: 1s fadein-anim;
  -moz-animation: 1s fadein-anim;
}

@keyframes fadein-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes fadein-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

.slideinleft {
  animation: 1s slideinleft-anim;
  -webkit-animation: 1s slideinleft-anim;
  -moz-animation: 1s slideinleft-anim;
}

@keyframes slideinleft-anim {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes slideinleft-anim {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: 0px;
  }
}
