.container {
  padding: 0 0 0.0625 0;
}
#logo {
  height: 3.25rem;
  width: 3.25rem;
  display: inline;
  border-radius: 100%;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-direction: alternate;
}

@keyframes pulse {
  0%   { opacity: 0};
  30%  { opacity: .75};
  100% { opacity: 1};
}
