#overdueQueue {
  margin-top: 5%;
}

#bulkRemove, #bulkPostpone {
  display: inline;
}

.fa-times-circle {
  font-size: 5rem !important;
  display: inline-block;
  float: right;
  margin: 5px 10px 5px 0px;
}

.postponeButton {
  width: 48%;
  margin: auto 2px;
  font-size: 12px;
  padding: 4px;
  /*float: right;*/
}

.doneButton {
  width: 48%;
  margin: auto 2px;
  font-size: 12px;
  padding: 4px;
  /*float: right;*/
}

.container {
 width: 500px
 border: 1px solid white;
}
