#overdueQueue {
  margin-top: 5%;
}

#bulkRemove, #bulkPostpone {
  display: inline;
}

.fa-times-circle {
  font-size: 300% !important;
  display: inline-block;
  float: right;
  margin: 1%;
}

.postponeButton {
  width: 100%;
  font-size: 12px;
  padding: 4px;
  /*float: right;*/
}
